.my_plant_registeration_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 10.2rem);
  padding: 0 2rem;
  max-width: 500px;
  padding-bottom: 5rem;
  margin-bottom: 5rem;
}

.my_plant_register_img_box {
  width: 100%;
  height: 23rem;
  display: flex;
  justify-content: center;
  > .img_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    padding-top: 3rem;
    justify-content: center;
    position: relative;

    > span {
      border-radius: 50%;
      width: 14.8rem;
      height: 14.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #dfe9e4;
      overflow: hidden;

      > .main_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .edit_icon_wrapper {
      width: 3.2rem;
      height: 3.2em;
      border-radius: 50%;
      border: 1px solid #d6d6d6;
      background-color: #fbfbfb;
      position: absolute;
      right: 9rem;
      bottom: 5.2rem;
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      > :hover {
        background-color: #f1f1f1;
      }
      > .edit_icon {
        width: 1.4rem;
        height: 1.4rem;
        box-shadow: 0px 4px 4px 0px rgba(155, 159, 177, 0.0625);
      }
    }
  }
}

.my_plant_input_box {
  width: 100%;
  height: 10.1rem;

  > .my_plant_input_title {
    width: 5rem;
    font-weight: 400;
    font-size: 1.2rem;
    color: #22264c;
  }
  > .my_plant_input_wrapper {
    width: 100%;
    height: 4rem;
    position: relative;
    display: flex;
    z-index: 1;
    align-items: center;
    margin-top: 1.3rem;
    cursor: pointer;
    > .input_glass {
      position: absolute;
      z-index: 2;
      width: 1.8rem;
      height: 1.8rem;
      right: 1.1rem;
    }
  }
}

.my_plant_input {
  width: 100%;
  height: 4rem;
  border-radius: 5rem;
  background-color: #f8f8fa;
  font-size: 1.4rem;
  font-weight: 400;
  color: #22264c;
  padding-left: 1.6rem;
  cursor: pointer;

  &::placeholder {
    color: #757897;
  }
}

.my_plant_info_form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.my_plant_name_title {
  width: 100%;
  height: 1.4rem;
  font-weight: 400;
  font-size: 1.2rem;
  color: #22264c;
  display: flex;
  align-items: center;
  > p {
    padding-left: 0.5rem;
    font-weight: 400;
    size: 1.2rem;
    color: #9b9fb1;
    display: flex;
    align-items: center;
  }
}

.my_plant_name {
  width: 100%;
  height: 4rem;
  border-bottom: 1px solid #d6d6d6;
  font-size: 1.4rem;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.watering_frequency {
  width: 100%;
  height: 1.4rem;
  font-weight: 400;
  font-size: 1.2rem;
  color: #22264c;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  > p {
    padding-left: 0.5rem;
    font-weight: 400;
    size: 1.2rem;
    color: #9b9fb1;
    display: flex;
    align-items: center;
  }
}

.required::before {
  display: inline-block;
  content: '*';
  margin-right: 0.5rem;
  color: red;
}

.watering_frequency_input_box {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;

  > .watering_frequency_input {
    width: 25.1rem;
    padding: 0.8rem;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1.6rem;
    border-bottom: 1px solid #d6d6d6;
    justify-content: end;
    padding-right: 1.2rem;
  }
  > .watering_frequency_info {
    width: 6rem;
    height: 1.7rem;
    font-weight: 400;
    font-size: 1.4rem;
    margin-left: 1.3rem;
  }
}

.my_plant_register_small_title {
  height: 1.4rem;
  font-weight: 400;
  font-size: 1.2rem;
  color: #22264c;
  margin-top: 3rem;
  display: flex;
  margin-bottom: 0.8rem;

  > span {
    padding-left: 0.5rem;
    font-weight: 400;
    size: 1.2rem;
    color: #9b9fb1;
    display: flex;
    align-items: center;
  }
}

.my_plant_register_calender_value {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  > input {
    font-size: 1.4rem;
    font-family: 'Pretendard', Arial, sans-serif;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #d6d6d6;
    background-color: #f8f8fa;
    padding-left: 0.5rem;
    padding-right: 1rem;
    cursor: pointer;
  }
}

.my_plant_register_btn {
  width: 100%;
  max-width: 500px;
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 5rem;
  background: #1fb0ad;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 700;

  &:hover {
    background: rgb(51, 142, 142);
  }
}

.photo_input {
  display: none;
}

.photo_label {
  width: 100%;
  height: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
