/* Bold 900 */
@font-face {
  font-family: 'Pretendard';
  src: url('../assets/fonts/Pretendard-Bold.woff2');
  font-weight: 900;
}

/* Semibold 700 */
@font-face {
  font-family: 'Pretendard';
  src: url('../assets/fonts/Pretendard-SemiBold.woff2');
  font-weight: 700;
}

/* Medium 500 */
@font-face {
  font-family: 'Pretendard';
  src: url('../assets/fonts/Pretendard-Medium.woff2');
  font-weight: 500;
}

/* Regular 400 */
@font-face {
  font-family: 'Pretendard';
  src: url('../assets/fonts/Pretendard-Regular.woff2');
  font-weight: 400;
}
