.react-confirm-alert-overlay {
  background-color: rgb(55 55 55 / 90%);
  max-width: 500px;
  margin: auto;
  width: 100%;

  .react-confirm-alert-body {
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4rem;
    border-radius: 1rem;

    > h1 {
      font-size: 1.7rem;
      color: #22264c;
      line-height: 4rem;
    }

    .react-confirm-alert-button-group {
      display: flex;
      justify-content: space-between;
      width: 25rem;

      > button {
        width: 12.7rem;
        height: 4rem;
        border-radius: 1rem;
        font-size: 1.4rem;

        &.confirm {
          background-color: #1fb0ad;
        }

        &.cancel {
          background-color: #eee;
          color: #22264c;
        }

        &:hover {
          opacity: 50%;
        }
      }
    }
  }
}
