.Toastify__toast-container {
  width: 400px;
  max-width: 100vw;
}
.Toastify__toast {
  background: #000;
}
.Toastify__toast {
  font-family: 'Pretendard', Arial, sans-serif;
  font-size: 1.2rem;
  color: #fff;
}
