.hide {
  overflow: hidden;
  display: block;
  position: absolute;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

@mixin ellipsis($line-cnt, $line-height) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line-cnt;
  -webkit-box-orient: vertical;
  word-break: keep-all;
  line-height: $line-height;
  height: $line-height * $line-cnt;
}

/* DIARY 메인 페이지 */

.diary_page {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 auto;

    .title {
      padding-top: 2rem;
      padding-bottom: 2rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;

      span {
        font-size: 1.8rem;
        font-weight: 700;
      }
      .plant_icon {
        margin-left: 0.3rem;
        font-size: 1.2rem;
      }
    }

    .view_section {
      width: 100%;
      height: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #f7f8f7;

      .view_tab {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45%;
        height: 100%;
        color: #d6d6d6;
      }
      .list_tab {
        font-size: 2.8rem;
      }
      .gallery_tab {
        font-size: 2rem;
      }

      .on {
        color: #22264c;
      }
    }

    .content_section {
      .list_view {
        .date_wrap {
          width: 100%;
          height: 5.7rem;
          display: flex;
          align-items: center;

          .date_picker {
            flex-grow: 1;
            height: 100%;
            span {
              font-family: 'Pretendard', Arial, sans-serif;
              font-size: 1.6rem;
              font-weight: 700;
            }
          }
          .date_btn {
            padding: 0;
            width: 5rem;
            height: 100%;
          }
          .prev_btn {
            background: url('@/assets/images/icons/calendar_prev.png') no-repeat
              left center / 1.8rem 1.8rem;
          }
          .next_btn {
            background: url('@/assets/images/icons/calendar_next.png') no-repeat
              right center / 1.8rem 1.8rem;
          }
        }

        .diary_list_wrap {
          margin-bottom: 5.6rem;
        }
        .diary_list {
          width: 100%;
          height: 12rem;
          padding: 1.5rem 0;
          border-bottom: 1px solid #f7f8f7;
          display: flex;

          .head {
            height: 3rem;
            line-height: 3rem;
            margin-bottom: 0.5rem;
          }

          .left_box {
            width: calc(100% - 6rem);
            height: 100%;
            display: flex;
            flex-direction: column;
            padding-right: 1.8rem;

            .content_title {
              font-size: 1.6rem;
              font-weight: 700;
              color: #22264c;
            }

            .content_content {
              @include ellipsis(2, 1.6rem);

              font-size: 1.3rem;
              color: #979797;
            }

            .content_date {
              margin-top: auto;
              color: #979797;
            }
          }

          .right_box {
            width: 7rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: end;

            .more {
              font-size: 1.8rem;
              transform: translateX(1.2rem);
              color: #979797;
              float: right;
            }

            .main_img {
              min-width: 6rem;
              min-height: 6rem;
              border-radius: 0.5rem;
              background: no-repeat center / cover;
              position: relative;

              &.many::before {
                content: '';
                display: block;
                background: url('@/assets/images/icons/diary_stack.png')
                  no-repeat center / contain;
                position: absolute;
                right: 0.2rem;
                top: 0.2rem;
                width: 1rem;
                height: 1rem;
                opacity: 0.9;
              }
            }
          }
        }
      }
    }

    .write_btn {
      position: absolute;
      right: 1.9rem;
      bottom: 2rem;
      margin-bottom: 5.7rem;

      width: 6.2rem;
      height: 6.2rem;
      border-radius: 50%;
      color: #fff;
      background-color: #1fb0ad;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('@/assets/images/icons/diary_add.png');

      &:hover {
        background-color: rgb(51, 142, 142);
      }
    }

    .top_btn {
      position: fixed;
      left: 50%;
      bottom: 2rem;
      margin-bottom: 5.7rem;
      transform: translateX(-50%);

      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.2);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 0.8rem 0.5rem;
      background-image: url('@/assets/images/icons/top.png');
    }
  }
}
