@use '@/styles/mixins';
@use 'swiper/scss';

.main_page {
  width: 100%;
  min-height: calc(100vh - 11.2rem);
  display: flex;
  flex-direction: column;
  align-items: center;

  > section {
    min-height: inherit;
  }

  .weather_text_box {
    width: max-content;
    padding: 0.8rem 1.6rem 0.7rem 1.6rem;
    border-radius: 0.6rem;
    background: #ffffff;
    font-size: 1.4rem;
    font-weight: 700;
    color: #22264c;
    box-shadow: 0 0.2rem 1.6rem 0 rgba(0, 0, 0, 0.08);
  }
}

/* 날씨 영역 */
.main_page > section > .weather_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.4rem;
  min-height: 10.7rem;
  padding-left: 2rem;

  > .text_wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;

    > div:not(:first-child) {
      margin-top: 0.8rem;
    }

    > .location_wrapper {
      display: flex;
      align-items: center;

      > .weather_icon {
        width: 1.6rem;
        height: 1.6rem;
      }

      > .text {
        margin-left: 0.6rem;
        font-size: 1.4rem;
        color: #22264c;
        font-weight: 500;
      }
    }

    > .temperature_wrapper {
      > .text_lg {
        margin-right: 0.8rem;
      }

      > .text_sm {
        color: #9b9fb1;
        font-size: 1.2rem;
        font-weight: 500;

        &:not(:nth-child(2))::before {
          content: '|';
          margin: 0 0.6rem;
        }
      }
    }
  }

  > .info_text {
    margin: auto;
    font-size: 1.4rem;
    font-weight: 700;
    color: #9b9fb1;
  }

  .weather_icon {
    width: 10rem;
    height: 10rem;
  }
}

/* 메인 식물 영역*/
.main_page > section > div > .main_plant {
  display: block;
  position: relative;
  margin: 2.8rem auto 0 auto;
  padding: 1rem;
  width: 26rem;
  height: 26rem;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 0 1rem 1.6rem 0 rgba(0, 0, 0, 0.1);

  > .inner_circle {
    @include mixins.avatar(50%);

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #e4ece8;
  }

  > .watering_btn {
    position: absolute;
    right: 1.7rem;
    bottom: 0.7rem;
    padding: 0;
    width: 5.3rem;
    height: 5.3rem;
    border-radius: 50%;
    overflow: hidden;
    background-color: #f8f8fa;
    filter: drop-shadow(0 0.4rem 2rem rgba(0, 0, 0, 0.25));
    > img {
      width: 100%;
      height: 100%;
    }

    > .watering_label {
      position: absolute;
      bottom: 0.6rem;
      left: 0;
      right: 0;
      color: #22264c;
      font-size: 0.95rem;
      font-weight: 700;
    }
  }
}

/* 메인 식물 정보 */
.main_page > section > div > .main_plant_info {
  margin-top: 1.8rem;
  text-align: center;

  > .eng_name_label {
    display: inline-block;
    margin: auto;
    padding: 0.4rem 0.6rem;
    height: 2rem;
    background-color: #ffffff;
    border: 1px solid #79b09e;
    border-radius: 3rem;
    color: #79b09e;
    font-size: 1rem;
    font-weight: 700;
  }

  > .nickname {
    margin-top: 0.8rem;
    color: #22264c;
    font-size: 2.2rem;
    font-weight: 700;

    > .main-plant {
      position: relative;

      &::before {
        content: '';
        display: inline-block;
        position: absolute;
        margin: auto 0;
        width: 1.8rem;
        height: 1.8rem;
        background: url('@/assets/images/icons/main_plant_true_icon.png')
          no-repeat center center/cover;
        top: 0;
        bottom: 0;
        left: -2.5rem;
      }
    }
  }

  > .plant_info_wrapper {
    margin-top: 1.2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: #22264c;

    > .plant_info {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      /* 구분선 */
      + .plant_info::before {
        content: '';
        position: absolute;
        left: 0;
        height: 3rem;
        width: 0.1rem;
        background: #e4e6ef;
      }

      > .title,
      .content {
        display: block;
      }

      > .title {
        font-size: 1.2rem;
        font-weight: 400;
      }

      > .content {
        margin-top: 1.1rem;
        font-size: 1.4rem;
        font-weight: 700;

        &.cotent_label {
          margin-top: 0.5rem;
          display: flex;
          padding: 0.55rem 1.1rem;
          border-radius: 3rem;
          background: #66a85e;
          color: #ffffff;

          &.upcoming {
            background: #edc27e;
          }

          &.urgent {
            background: #e74c3c;
          }
        }
      }
    }
  }
}

/* 서브 식물 리스트 슬라이드*/
.main_page > section > .slide_wrapper {
  margin-top: 3.3rem;
  padding: 0 0 2rem 2rem;
  min-height: 10.9rem;

  > .swiper {
    min-height: inherit;

    > .swiper-wrapper > .swiper-slide {
      > .slide {
        padding: 0;
        width: 8rem;
        height: 8rem;
        text-align: center;
        background: #d8e8e0;
        border-radius: 50%;
        padding: 0.3rem;

        > .avatar {
          @include mixins.avatar(50%);

          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          background: #ffffff;
          filter: drop-shadow(0 0.4rem 0.8rem rgba(0, 0, 0, 0.1));
        }

        > .name {
          display: block;
          margin-top: 1.2rem;
          font-family: 'Pretendard', Arial, sans-serif;
          font-size: 1.4rem;
          font-weight: 700;
          color: #22264c;
        }
      }
    }
  }
}

.main_page > section > div {
  > .welcome_text {
    margin: 4.6rem auto 0 auto;
    width: 22.4rem;
    font-size: 1.6rem;
    font-weight: 400;
    word-break: keep-all;
    text-align: center;

    > strong {
      font-size: 1.8rem;
      line-height: 1.5;
      font-weight: 700;
    }
  }

  > .register_btn {
    margin: 3.9rem auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 29rem;
    height: 5.2rem;
    border: 1px solid #d6d6d6;
    border-radius: 2.6rem;
    background-color: #ffffff;

    > img {
      width: 2.4rem;
      height: 2.4rem;
    }

    > p {
      margin-left: 1.6rem;
      font-size: 1.3rem;
      color: #000000;
    }
  }
}
