.my_page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f8f8fa;

  .my_container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 auto;
    margin-bottom: 5.8rem;

    .my_info_box {
      padding-bottom: 4rem;
      background-color: #ffffff;

      h2 {
        padding-top: 1rem;
        padding-bottom: 2.8rem;
        font-size: 1.6rem;
        color: #22264c;
        line-height: 2.2rem;

        em {
          font-size: 1.8rem;
          font-weight: 700;
        }
      }

      .my_profile {
        display: flex;
        align-items: center;
        padding-bottom: 4.2rem;

        img {
          width: 6rem;
        }

        .my_info {
          padding-left: 1.4rem;
          > strong {
            display: block;
            padding-bottom: 0.6rem;
            font-size: 1.6rem;
            font-weight: 900;
          }
          > span {
            position: relative;
            display: inline-block;
            padding-right: 2.7rem;
            height: 1.4rem;
            line-height: 1.4rem;
            color: #9199a1;
            font-size: 1rem;
            background: url('../../assets/images/icons/level.png') no-repeat
              right top / 1.4rem;

            &::after {
              content: '';
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: 2rem;
              width: 1px;
              height: 0.8rem;
              background-color: #a1a7ae;
            }
          }
        }
      }

      .my_service_list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        li {
          padding-top: 4.8rem;
          min-width: 4rem;
          text-align: center;
          font-size: 1.3rem;
          background-repeat: no-repeat;
          background-size: 4rem;
          background-position: top center;
          cursor: pointer;

          &.info {
            background-image: url('../../assets/images/icons/icon_my_service01.png');
          }
          &.badge {
            background-image: url('../../assets/images/icons/icon_my_service02.png');
          }
          &.plant {
            background-image: url('../../assets/images/icons/icon_my_service03.png');
          }

          em {
            display: inline-block;
            padding-left: 0.4rem;
            color: #1fb0ad;
            font-weight: 700;
          }
        }
      }
    }

    .list_box {
      margin-top: 1rem;
      padding-top: 1rem;
      background-color: #fff;
      .list_title {
        padding: 0 2rem;
        display: block;
        font-size: 1rem;
        color: #9199a1;
      }
      .list_contents {
        li {
          padding: 0 2rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 4.8rem;

          p {
            font-size: 1.4rem;
            height: 4.8rem;
            line-height: 4.8rem;
            &.move {
              cursor: pointer;
              width: 100%;
              background: url('../../assets/images/icons/icon_move.png')
                no-repeat right center / 16px;
            }
          }

          /* switch */
          .switch {
            position: relative;
            display: inline-block;
            width: 3.2rem;

            input.switch_chk {
              opacity: 0;
              width: 0;
              height: 0;
            }

            input.switch_chk:checked + .slider {
              background-color: #ffffff;
              border: 1px solid #f2f2f2;
            }

            input.switch_chk:checked + .slider:before {
              -webkit-transform: translateX(18px);
              -ms-transform: translateX(18px);
              transform: translateX(18px);
              background-color: #1fb0ad;
            }

            .slider {
              position: absolute;
              cursor: pointer;
              top: -2px;
              left: 0;
              right: 2px;
              bottom: 0;
              background-color: #d6d6d6;
              -webkit-transition: 0.4s;
              transition: 0.4s;
              border-radius: 2.4rem;

              &:before {
                position: absolute;
                content: '';
                height: 1.4rem;
                width: 1.4rem;
                left: 0px;
                bottom: -0.2rem;
                background-color: rgba(36, 46, 71, 0.25);
                -webkit-transition: 0.4s;
                transition: 0.4s;
                border-radius: 50%;
              }
            }
          }
        }
        li ~ li {
          border-top: 1px solid #f8f8fa;
        }
      }
    }

    .logout_btn {
      position: absolute;
      bottom: 2rem;
      width: calc(100% - 4rem);
      height: 4.8rem;
      line-height: 4.8rem;
      border: 1px solid #d6d6d6;
      background-color: #ffffff;
      border-radius: 0.6rem;
      color: #acacac;
      font-size: 1.4rem;
    }
  }
}

.sub_header {
  .back_btn {
    position: absolute;
    left: 2rem;
    top: 50%;
    transform: translateY(-50%);
    width: 2.4rem;
    height: 2.4rem;
    background: url('../../assets/images/icons/icon_back.png') no-repeat center /
      contain;
  }
}

.my_info_page {
  .profile_section {
    display: flex;
    justify-content: center;
    padding: 4rem 0;

    .profile {
      position: relative;

      > img {
        width: 6rem;
      }
      .edit_btn {
        position: absolute;
        right: -0.4rem;
        bottom: 0;
        width: 2.4rem;
        height: 2.4rem;
        background: url('../../assets/images/icons/icon_edit.png') no-repeat
          center / contain;
        filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.1));
      }
    }
  }

  .input_section {
    li {
      > label {
        display: block;
        font-size: 1.2rem;
        color: #22264c;
      }
      input:not(.calc_width) {
        height: 4rem;
        border-bottom: 1px solid #d6d6d6;
        width: 100%;
      }
      .calc_width {
        height: 4rem;
        border-bottom: 1px solid #d6d6d6;
      }
    }
  }
}
