.header {
  width: 100%;
  height: 5.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;

  > .main_logo {
    display: flex;
    align-items: center;

    > .logo_img {
      width: 2.4rem;
      height: 2.4rem;
    }

    > h1 {
      margin-left: 0.6rem;
      font-size: 1.6rem;
      font-weight: 700;
    }
  }

  > .btns {
    display: flex;
    align-items: center;

    > .calendar_btn {
      width: 2.2rem;
      height: 2.2rem;

      > .calendar {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    > .profile_btn {
      margin-left: 1rem;

      > .profile {
        width: 2.2rem;
        height: 2.2rem;
        border-radius: 50%;
      }
    }
  }
}
