.resultListContainer {
  padding: 0 2rem;
  width: 100%;
  margin-top: 1.6rem;
}

.resultListBox {
  height: 8.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  > plantImgBox {
    width: 6.5rem;
    height: 6.5rem;
  }
}

.plantImg {
  border-radius: 50%;
  width: 6.5rem;
  height: 6.5rem;
}

.plantMetaData {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 2rem;
  align-items: flex-start;
  :first-child {
    width: 100%;
    height: 1.8rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: #22264c;
  }
  :last-child {
    width: 100%;
    height: 1.6rem;
    font-weight: 400;
    font-size: 1.2rem;
    color: #9b9fb1;
  }
}

.selectPlantResult {
  width: 6rem;
  height: 3.2rem;
  border-radius: 1.6rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: #22264c;

  background-color: #eeeeee;
}
