.my_plant_detail_header {
  height: 5.8rem;
  width: 36rem;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f7f8f7;

  > img {
    width: 1.461rem;
    height: 1.762rem;
  }

  > p {
    width: 6rem;
    height: 1.9rem;
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0 auto;
  }
}

.my_plant_detail_upper_container {
  width: 36rem;
  height: 34.3rem;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my_plant_detail_edit_btn {
  width: 29rem;
  height: 5.2rem;
  border-radius: 26px;
  border: 1px solid #d6d6d6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.my_plant_detail_edit_btn_inner_contents {
  width: 13.7rem;
  height: 2.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  > img {
    width: 2.8rem;
    height: 2.8rem;
  }

  > p {
    width: 9.7rem;
    height: 1.6rem;
    color: #000000;
    font-weight: 400;
    font-size: 1.3rem;
  }
}

.my_plant_detail_lower_container {
  width: 36rem;
  height: 59.2rem;
  background-color: #f8f8fa;
  display: flex;
  flex-direction: column;
  align-items: center;

  > .my_plant_detail_info_box {
    width: 32rem;
    height: 12.9rem;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 2.7rem;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1)
  }
}

.my_plant_detail_info_head {
  display: flex;
  align-items: center;
  height: 4.2rem;
  border-bottom: 1px solid #f8f8fa;
  > p {
    margin-left: 1.2rem;
    font-size: 1.4rem;
    font-weight: 400;

    > span {
      font-weight: 700;
      font-size: 1.5rem;
    }
  }
}

.my_plant_detail_info_metadata {
  display: flex;
  width: 32rem;
  height: 8.7rem;
}

.watering_info {
  width: 10rem;
  height: 8.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > :first-child {
    font-weight: 400;
    font-size: 1.2rem;
    color: #22264c;
    margin-bottom: 1.6rem;
  }
  > :last-child {
    font-weight: 700;
    font-size: 1.4rem;
    color: #22264c;
  }
}

.last_watering_info {
  width: 11rem;
  height: 8.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > :first-child {
    font-weight: 400;
    font-size: 1.2rem;
    color: #22264c;
    margin-bottom: 1.6rem;
  }
  > :last-child {
    font-weight: 700;
    font-size: 1.4rem;
    color: #22264c;
  }
}

.first_day_info {
  width: 11rem;
  height: 8.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > :first-child {
    font-weight: 400;
    font-size: 1.2rem;
    color: #22264c;
    margin-bottom: 1.6rem;
  }
  > :last-child {
    font-weight: 700;
    font-size: 1.4rem;
    color: #22264c;
  }
}

.management_tip_box {
  justify-content: center;
  align-items: center;
  padding: 0 1.3rem;
}

.management_tip {
  margin: 0 auto;
  font-size: 1.2rem;
  font-weight: 400;
  color: #22264c;
  line-height: 15px;
}

.gridset {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  > div {
    display: flex;
    height: 8.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    > :first-child {
      font-weight: 400;
      font-size: 1.2rem;
      color: #22264c;
      margin-bottom: 1.4rem;
    }
  }
}

.sun_on_off {
  width: 6.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: space-between;

  > img {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.water_on_off {
  width: 4.4rem;
  height: 1.133rem;
  display: flex;
  justify-content: space-between;
  > img {
    width: 0.8rem;
    height: 1.117rem;
  }
}

.optimal_temp {
  
  height: 1.7rem;
  font-size: 1.4rem;
  font-weight: 600;
}

.more_info_btn {
    width: 20rem;
    height: 1.4rem;
    text-decoration: underline;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0 auto;
    margin-top: 6rem;
    color: #969696;
}