.dict_conatiner {
  margin-bottom: 5rem;

  .dict_wrapper {
    margin-left: 2rem;

    .search_title {
      font-size: 1.6rem;
      font-weight: 400;
      padding-top: 2rem;

      span {
        font-size: 1.8rem;
        font-weight: 700;
      }
    }
  }
}
