@use 'swiper/scss';
@use 'swiper/scss/navigation';
@use 'swiper/scss/pagination';

@mixin common_img_props($bgColor) {
  display: inline-block;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  box-shadow: 0.1rem 0.1rem 0.3rem rgba(1, 1, 1, 0.15);
  text-align: center;
  line-height: 3.2rem;
  background-color: $bgColor;
}

@mixin swiper_button {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #9e9e9e30;

  &:hover {
    transition: ease;
    background-color: #9e9e9e80;
  }
}

.recommend_container {
  padding-top: 1.5rem;

  .title_wrapper {
    display: flex;
    padding: 0 2rem;
    color: #22264c;

    .img_wrapper {
      @include common_img_props(#f8f8fa);
    }

    .img_wrapper_white {
      @include common_img_props(#f8f8fa);
    }

    .img_wrapper_navy {
      @include common_img_props(#373b65);
    }

    .img_wrapper_blue {
      @include common_img_props(#60b7ff);
    }

    .img_wrapper_gray {
      @include common_img_props(#473e49);
    }

    .plant_icon {
      width: 2rem;
      height: 2rem;
    }

    > span {
      display: inline-block;
      padding-left: 1rem;
      font-weight: 700;
      font-size: 1.4rem;
      line-height: 3.2rem;
    }
  }

  .plants_container {
    padding: 2rem 0.5rem 4rem 0.5rem;
    display: flex;
    position: relative;
    padding: 2rem;

    .plant_wrapper {
      display: flex;
      justify-content: center;
      border-radius: 1rem;
      text-align: center;
      box-shadow: 0.1rem 0.1rem 0.5rem rgba(1, 1, 1, 0.08);

      &:hover {
        transform: scale(1.05);
        transition: all 0.3s ease;
      }

      .img_two {
        width: 13.143rem;
        height: 13.182rem;
        margin: 1rem 0;
        border-radius: 1rem;
      }

      .img_three {
        width: 8.318rem;
        height: 8.5rem;
        margin: 0.7rem 0;
        border-radius: 1rem;
      }

      .name_wrapper {
        display: flex;
        flex-direction: column;
        text-align: center;

        p {
          white-space: nowrap;
          overflow: hidden;

          &.english_name_two {
            margin-top: 0.5rem;
            max-width: 13.143rem;
            height: 1.7rem;
            font-size: 1rem;
            font-weight: 300;
            color: #b8b8b8;
            line-height: 0.9rem;
          }

          &.korean_name_two {
            padding-top: 0.2rem;
            max-width: 13.143rem;
            height: 2.7rem;
            font-size: 1.2rem;
            font-weight: 700;
            max-width: 13.143rem;
          }

          &.english_name_three {
            margin-top: 0.5rem;
            max-width: 8.318rem;
            height: 1.7rem;
            font-size: 0.8rem;
            font-weight: 300;
            color: #b8b8b8;
            line-height: 0.9rem;
          }

          &.korean_name_three {
            max-width: 8.318rem;
            height: 2rem;
            font-size: 1rem;
            font-weight: 700;
          }
        }
      }
    }

    .swiper-button-prev {
      @include swiper_button;
      left: 0.5rem;

      @media (max-width: 499px) {
        display: none !important;
      }
    }

    .swiper-button-next {
      @include swiper_button;
      right: 0.5rem;
      @media (max-width: 499px) {
        display: none !important;
      }
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      font-size: 1rem;
      font-weight: 700;
      color: #c3c3c3;
      background-color: #fff;
      border: 1px solid #ecebeb;
      box-shadow: 0.1rem 0.1rem 0.5rem rgba(1, 1, 1, 0.08);
    }

    .swiper-pagination-bullet {
      display: none;
    }
  }
}
