/* Common Styles */

.hide {
  overflow: hidden;
  display: block;
  position: absolute;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

/* DIARY-WRITE 페이지 */

.diary_write_page {
  width: 100%;
  position: relative;

  .container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: baseline;

    .sub_header {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 6.4rem;
      background-color: #fff;
      border-bottom: 1px solid #f7f8f7;

      strong {
        font-size: 1.6rem;
        font-weight: 900;
      }
      .close_btn {
        position: absolute;
        right: 2rem;
        top: 50%;
        transform: translateY(-50%);
        width: 2.4rem;
        height: 2.4rem;
        background: url('../../assets/images/icons/icon_close.png') no-repeat
          center / contain;
      }
    }

    /* PHOTO 섹션 */
    .photo_section {
      position: relative;
      background: #fff;
      border-bottom: 1px solid #f7f8f7;

      .photo_select_swiper {
        padding: 2rem 0.5rem;
        justify-content: space-between;
      }

      .slide {
        position: relative;
        display: flex;
        justify-content: center;

        .upload_button {
          position: relative;
          margin: auto;
          width: 8rem;
          height: 8rem;
          border: 1px solid #efefef;
          border-radius: 1rem;
          overflow: hidden;
          padding: 0;

          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-size: cover;
          background-image: url('');

          .photo_label {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            .camera_icon {
              font-size: 3rem;
            }

            .photo_counter {
              font-size: 1.5rem;
              margin-top: 0.5rem;
              color: #9b9fb1;
            }
          }
          .photo_input {
            display: none;
          }
          .main_photo {
            width: 100%;
            height: 25%;

            position: absolute;
            left: 0;
            bottom: 0;

            font-size: 1.2rem;
            font-weight: 700;
            text-align: center;

            background-color: rgba(0, 0, 0, 0.6);
            color: #fff;

            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 1;
          }
        }

        .photo_delete_btn {
          width: 2.4rem;
          height: 2.4rem;
          border: none;
          border-radius: 50%;
          background-color: #000;
          color: #fff;
          font-size: 1.6rem;

          display: flex;
          align-items: center;
          justify-content: center;

          position: absolute;
          right: 0rem;
          top: -1rem;
        }
      }
    }

    /* BOARD SECTION - 게시글 입력 */
    .board_section {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      /* SUBJECT - 제목 입력 */
      .subject_wrapper {
        width: 100%;
        border-bottom: 1px solid #f7f8f7;

        input {
          width: 100%;
          height: 6rem;
          padding: 0 2rem;
          font-size: 1.8rem;
          font-weight: 700;

          &::placeholder {
            color: #9b9fb1;
          }
        }
      }

      /* PLANT SELECT - 식물 선택 */

      .plant_select_wrapper {
        width: 100%;
        min-height: 6rem;

        color: #9b9fb1;
        border-bottom: 1px solid #f7f8f7;
        background-color: #f8f8fa;

        .plant_select {
          min-height: 6rem;
          padding: 0 2rem;
          position: relative;

          display: flex;
          align-items: center;
          justify-content: space-between;

          position: relative;
          cursor: pointer;

          .choose_text {
            font-size: 1.4rem;
            width: 100%;
            padding: 2rem 0;
          }

          .chosen_wrap {
            min-height: 6rem;

            display: flex;
            align-items: center;
            flex-wrap: wrap;
            font-size: 1.4rem;

            .chosen_plant {
              height: 3rem;
              display: flex;
              align-items: center;
              margin: 1rem 0;
              margin-right: 1rem;
              padding: 0 1.5rem;
              border-radius: 5rem;
              background: #1fb0ad;
              color: #fff;

              span {
                margin-left: 1rem;
              }

              &:hover {
                background: rgb(51, 142, 142);
              }
            }
          }

          .arrow_icon {
            height: 6rem;
            font-size: 1.6rem;

            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-grow: 1;
          }
        }

        /* 식물 목록 */
        .plant_list {
          width: 100%;
          height: 21rem;
          overflow: auto;
          padding: 1rem 2rem;
          position: absolute;
          border-top: 1px solid #efefef;
          background-color: #f8f8fa;
          font-size: 1.4rem;

          li {
            display: flex;
            align-items: center;

            input[type='checkbox'] {
              appearance: none;
              width: 2rem;
              height: 2rem;
              border: 1px solid #ccc;
              border-radius: 0.5rem;
              position: relative;
              cursor: pointer;

              &:checked {
                background-color: #1fb0ad;
                border-color: #1fb0ad;

                &::before {
                  content: '✓';
                  font-size: 1.1rem;
                  color: white;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                }
              }
            }

            label {
              width: 100%;
              padding: 1.7rem 0.8rem;
              cursor: pointer;
            }
          }
        }
      }

      /* CONTENT - 내용 입력 */
      textarea {
        width: 100%;
        flex-grow: 1;
        font-family: 'pretendard';
        font-size: 1.4rem;
        padding: 2rem;

        &::placeholder {
          color: #9b9fb1;
        }
      }
    }
  }

  /* 저장 버튼 */

  .save_button {
    width: 100%;
    height: 5rem;
    margin-top: auto;
    background: #1fb0ad;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 700;

    &:hover {
      background: rgb(51, 142, 142);
    }
  }

  /* PC 반응형 작업 */
  @media screen and (min-width: 768px) {
    .container {
      .photo_section {
        .photo_select_swiper {
          padding: 2.5rem 0rem;
          padding-right: 2rem;

          .slide {
            .upload_button {
              width: 13rem;
              height: 13rem;
              border-radius: 2rem;

              .photo_label {
                .camera_icon {
                  font-size: 4rem;
                }

                .photo_counter {
                  font-size: 1.6rem;
                }
              }
            }

            .photo_delete_btn {
              width: 4rem;
              height: 4rem;
              right: 1rem;
              top: -1.5rem;
            }
          }
        }
      }

      .board_section {
        .subject_wrapper {
          input {
            font-size: 1.8rem;
          }
        }

        .plant_select_wrapper {
          .plant_select {
            font-size: 1.6rem;

            .choose_text {
              font-size: 1.6rem;
            }
          }

          .plant_list {
            font-size: 1.6rem;

            input[type='checkbox'] {
              width: 2.5rem;
              height: 2.5rem;
            }
          }
        }

        textarea {
          font-size: 1.6rem;
        }
      }

      .button.save {
        font-size: 1.6rem;
      }
    }
  }
}
